ForkLoader/IOFdata.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema xmlns="http://tempuri.org/IOFdata" elementFormDefault="qualified" targetNamespace="http://tempuri.org/IOFdata" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IOFVersion">
    <xs:complexType>
      <xs:attribute fixed="2.0.3" name="version" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="IOFVersion" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Person">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PersonName" />
        <xs:element ref="PersonId" />
        <xs:element minOccurs="0" maxOccurs="1" ref="BirthDate" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Address" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Tele" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Nationality" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
      <xs:attribute name="sex">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="M" />
            <xs:enumeration value="F" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonName">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Family" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="Given" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Family" type="xs:string" />
  <xs:element name="Given">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="sequence" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonId">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="type">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="int" />
                <xs:enumeration value="nat" />
                <xs:enumeration value="reg" />
                <xs:enumeration value="loc" />
                <xs:enumeration value="other" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="idManager" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="BirthDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Date" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nationality">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="CountryId" />
        <xs:element ref="Country" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="Contact">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="PersonId" />
          <xs:element ref="Person" />
        </xs:choice>
        <xs:element ref="ContactType" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactType">
    <xs:complexType>
      <xs:attribute default="official" name="value">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="official" />
            <xs:enumeration value="entry" />
            <xs:enumeration value="result" />
            <xs:enumeration value="info" />
            <xs:enumeration value="financial" />
            <xs:enumeration value="other" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompetitorList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="IOFVersion" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Competitor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Competitor">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="PersonId" />
          <xs:element ref="Person" />
        </xs:choice>
        <xs:choice>
          <xs:element ref="ClubId" />
          <xs:element ref="Club" />
          <xs:element ref="Country" />
          <xs:element ref="CountryId" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PreSelectedClass" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="CCard" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Rank" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rank">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="Name" />
          <xs:element ref="OrganisationId" />
          <xs:element ref="Organisation" />
        </xs:choice>
        <xs:element ref="RankPosition" />
        <xs:element ref="RankValue" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ValidFromDate" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ValidToDate" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RankPosition" type="xs:string" />
  <xs:element name="RankValue" type="xs:string" />
  <xs:element name="ValidFromDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Date" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidToDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Date" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CCardId" />
        <xs:element ref="PunchingUnitType" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
      <xs:attribute name="miscData" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="CCardId" type="xs:string" />
  <xs:element name="RankList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="IOFVersion" />
        <xs:element ref="Name" />
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element ref="OrganisationId" />
          <xs:element ref="Organisation" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Competitor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClubList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="IOFVersion" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Club" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Club">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ClubId" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Name" />
        <xs:element ref="ShortName" />
        <xs:element minOccurs="0" maxOccurs="1" ref="OrganisationId" />
        <xs:choice>
          <xs:element ref="CountryId" />
          <xs:element ref="Country" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Address" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Tele" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="WebURL" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Account" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Contact" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClubId">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="type">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="int" />
                <xs:enumeration value="nat" />
                <xs:enumeration value="reg" />
                <xs:enumeration value="loc" />
                <xs:enumeration value="other" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="idManager" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="IOFVersion" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="EventClassification" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Event" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Event">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="EventId" />
        <xs:element ref="Name" />
        <xs:choice>
          <xs:element ref="EventClassificationId" />
          <xs:element ref="EventClassification" />
        </xs:choice>
        <xs:element ref="StartDate" />
        <xs:element minOccurs="0" maxOccurs="1" ref="FinishDate" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="EventOfficial" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Organiser" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="EventClass" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="EventRace" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="WebURL" />
        <xs:element minOccurs="0" maxOccurs="1" ref="EntryData" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Service" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Account" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
      <xs:attribute default="IndSingleDay" name="eventForm">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="IndSingleDay" />
            <xs:enumeration value="IndMultiDay" />
            <xs:enumeration value="teamSingleDay" />
            <xs:enumeration value="teamMultiDay" />
            <xs:enumeration value="relay" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventId">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="type">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="int" />
                <xs:enumeration value="nat" />
                <xs:enumeration value="reg" />
                <xs:enumeration value="loc" />
                <xs:enumeration value="other" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="idManager" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Date" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Clock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Date" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Clock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Organiser">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="ClubId" />
          <xs:element ref="Club" />
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventOfficial">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="EventOfficialRole" />
        <xs:choice>
          <xs:element ref="PersonId" />
          <xs:element ref="Person" />
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventOfficialRole" type="xs:string" />
  <xs:element name="EntryData">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Address" />
        <xs:element ref="Tele" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventClass">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="ClassId" />
          <xs:element ref="Class" />
        </xs:choice>
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:sequence>
            <xs:element ref="ClassRaceInfo" />
            <xs:element ref="PunchingUnitType" />
          </xs:sequence>
          <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element ref="EventRaceId" />
            <xs:element ref="ClassRaceInfo" />
            <xs:element ref="PunchingUnitType" />
          </xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" ref="TransferedToClass" />
          <xs:element ref="DividedIntoClass" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferedToClass">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="ClassId" />
        <xs:element ref="ClassShortName" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="DividedIntoClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="EventClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EntryClass">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="ClassId" />
        <xs:element ref="ClassShortName" />
        <xs:element ref="EventClass" />
      </xs:choice>
      <xs:attribute name="sequence" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="EventClassification">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="EventClassificationId" />
        <xs:element ref="Name" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventClassificationId">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="type">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="int" />
                <xs:enumeration value="nat" />
                <xs:enumeration value="reg" />
                <xs:enumeration value="loc" />
                <xs:enumeration value="other" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="idManager" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventRace">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="EventRaceId" />
        <xs:element ref="Name" />
        <xs:element ref="RaceDate" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventRaceId" type="xs:string" />
  <xs:element name="RaceDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Date" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Clock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EntryFee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="EntryFeeId" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Name" />
        <xs:element ref="Amount" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
      <xs:attribute default="Y" name="taxIncluded">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Y" />
            <xs:enumeration value="N" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="EntryFeeId">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="type">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="int" />
                <xs:enumeration value="nat" />
                <xs:enumeration value="reg" />
                <xs:enumeration value="loc" />
                <xs:enumeration value="other" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="idManager" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Amount">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="currency" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="EntryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="IOFVersion" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ClubEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClubEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="ClubId" />
          <xs:element ref="Club" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" ref="Contact" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Entry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Entry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="EntryId" />
        <xs:choice>
          <xs:sequence>
            <xs:choice>
              <xs:element ref="PersonId" />
              <xs:element ref="Person" />
            </xs:choice>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="CCard" />
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="Rank" />
          </xs:sequence>
          <xs:sequence>
            <xs:element ref="TeamName" />
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:choice>
                <xs:element ref="PersonId" />
                <xs:element ref="Person" />
              </xs:choice>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="ClubId" />
                <xs:element ref="Club" />
              </xs:choice>
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="CCard" />
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="Rank" />
              <xs:element minOccurs="0" maxOccurs="1" ref="TeamSequence" />
            </xs:sequence>
          </xs:sequence>
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="EntryClass" />
        <xs:element minOccurs="0" maxOccurs="1" ref="AllocationControl" />
        <xs:element ref="EntryDate" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
      <xs:attribute default="N" name="nonCompetitor">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Y" />
            <xs:enumeration value="N" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="EntryId" type="xs:string" />
  <xs:element name="TeamName" type="xs:string" />
  <xs:element name="TeamSequence" type="xs:string" />
  <xs:element name="EntryDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Date" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Clock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllocationControl">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element ref="ClubId" />
          <xs:element ref="Club" />
          <xs:element ref="PersonId" />
          <xs:element ref="Person" />
        </xs:choice>
        <xs:element ref="AllocationControlType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllocationControlType">
    <xs:complexType>
      <xs:attribute default="normal" name="value">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="normal" />
            <xs:enumeration value="groupedWithRef" />
            <xs:enumeration value="distributedFromRef" />
            <xs:enumeration value="earlyStart" />
            <xs:enumeration value="lateStart" />
            <xs:enumeration value="other" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="IOFVersion" />
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element ref="EventId" />
          <xs:element ref="Event" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ClassStart" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClassStart">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="ClassId" />
          <xs:element ref="ClassShortName" />
          <xs:element ref="EventClass" />
        </xs:choice>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="PersonStart" />
          <xs:element ref="TeamStart" />
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonStart">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="PersonId" />
          <xs:element ref="Person" />
        </xs:choice>
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element ref="ClubId" />
          <xs:element ref="Club" />
          <xs:element ref="CountryId" />
          <xs:element ref="Country" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Rank" />
        <xs:choice>
          <xs:element ref="Start" />
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="RaceStart" />
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeamStart">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TeamName" />
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element ref="CountryId" />
          <xs:element ref="Country" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PersonStart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Start">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="StartNumber" />
        <xs:element minOccurs="0" maxOccurs="1" ref="BibNumber" />
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element ref="CCardId" />
          <xs:element ref="CCard" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" ref="StartTime" />
        <xs:element minOccurs="0" maxOccurs="1" ref="TeamSequence" />
        <xs:element ref="CourseLength" />
        <xs:element minOccurs="0" maxOccurs="1" ref="StartId" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RaceStart">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="EventRaceId" />
          <xs:element ref="EventRace" />
        </xs:choice>
        <xs:element ref="Start" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartNumber" type="xs:string" />
  <xs:element name="BibNumber" type="xs:string" />
  <xs:element name="ResultList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="IOFVersion" />
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element ref="EventId" />
          <xs:element ref="Event" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ClassResult" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
      <xs:attribute default="complete" name="status">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="complete" />
            <xs:enumeration value="snapshot" />
            <xs:enumeration value="delta" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClassResult">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="ClassId" />
          <xs:element ref="ClassShortName" />
          <xs:element ref="EventClass" />
        </xs:choice>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="PersonResult" />
          <xs:element ref="TeamResult" />
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonResult">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="PersonId" />
          <xs:element ref="Person" />
        </xs:choice>
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element ref="ClubId" />
          <xs:element ref="Club" />
          <xs:element ref="CountryId" />
          <xs:element ref="Country" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Rank" />
        <xs:element ref="Result" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="RaceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeamResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TeamName" />
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element ref="CountryId" />
          <xs:element ref="Country" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" ref="StartNumber" />
        <xs:element minOccurs="0" maxOccurs="1" ref="BibNumber" />
        <xs:element minOccurs="0" maxOccurs="1" ref="StartTime" />
        <xs:element minOccurs="0" maxOccurs="1" ref="FinishTime" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Time" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ResultPosition" />
        <xs:element ref="TeamStatus" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Rank" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Point" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PersonResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Result">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="StartNumber" />
        <xs:element minOccurs="0" maxOccurs="1" ref="BibNumber" />
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element ref="CCardId" />
          <xs:element ref="CCard" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" ref="StartTime" />
        <xs:element minOccurs="0" maxOccurs="1" ref="FinishTime" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Time" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ResultPosition" />
        <xs:element ref="CompetitorStatus" />
        <xs:element minOccurs="0" maxOccurs="1" ref="TeamSequence" />
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element ref="CourseVariationId" />
          <xs:element ref="CourseVariation" />
          <xs:element ref="CourseLength" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SplitTime" />
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element ref="BadgeValueId" />
          <xs:element ref="BadgeValue" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Point" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RaceResult">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="EventRaceId" />
          <xs:element ref="EventRace" />
        </xs:choice>
        <xs:element ref="Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompetitorStatus">
    <xs:complexType>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Inactive" />
            <xs:enumeration value="DidNotStart" />
            <xs:enumeration value="Active" />
            <xs:enumeration value="Finished" />
            <xs:enumeration value="OK" />
            <xs:enumeration value="MisPunch" />
            <xs:enumeration value="DidNotFinish" />
            <xs:enumeration value="Disqualified" />
            <xs:enumeration value="NotCompeting" />
            <xs:enumeration value="SportWithdr" />
            <xs:enumeration value="OverTime" />
            <xs:enumeration value="Moved" />
            <xs:enumeration value="MovedUp" />
            <xs:enumeration value="Cancelled" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="TeamStatus">
    <xs:complexType>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Inactive" />
            <xs:enumeration value="DidNotStart" />
            <xs:enumeration value="Active" />
            <xs:enumeration value="Finished" />
            <xs:enumeration value="OK" />
            <xs:enumeration value="MisPunch" />
            <xs:enumeration value="DidNotFinish" />
            <xs:enumeration value="Disqualified" />
            <xs:enumeration value="NotCompeting" />
            <xs:enumeration value="SportWithdr" />
            <xs:enumeration value="OverTime" />
            <xs:enumeration value="Moved" />
            <xs:enumeration value="MovedUp" />
            <xs:enumeration value="Cancelled" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="Point">
    <xs:complexType>
      <xs:attribute name="type" type="xs:string" use="required" />
      <xs:attribute name="value" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResultPosition" type="xs:string" />
  <xs:element name="SplitTime">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element ref="ControlCode" />
          <xs:element ref="Control" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" ref="Time" />
      </xs:sequence>
      <xs:attribute name="sequence" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="BadgeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="IOFVersion" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="BadgeValue" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="BadgeLimit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BadgeValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="BadgeValueId" />
        <xs:element ref="Name" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ShortName" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BadgeValueId">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="type">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="int" />
                <xs:enumeration value="nat" />
                <xs:enumeration value="reg" />
                <xs:enumeration value="loc" />
                <xs:enumeration value="other" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="idManager" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="BadgeLimit">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="BadgeValueId" />
          <xs:element ref="BadgeValue" />
        </xs:choice>
        <xs:choice>
          <xs:element ref="EventClassificationId" />
          <xs:element ref="EventClassification" />
        </xs:choice>
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element ref="ClassTypeId" />
          <xs:element ref="ClassType" />
        </xs:choice>
        <xs:element ref="TimeFactor" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeFactor" type="xs:string" />
  <xs:element name="ResultSelection">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="OrganisationId" />
          <xs:element ref="Organisation" />
        </xs:choice>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="ClubId" />
          <xs:element ref="Club" />
        </xs:choice>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="ClassId" />
          <xs:element ref="ClassShortName" />
          <xs:element ref="Class" />
        </xs:choice>
        <xs:element ref="Position" />
        <xs:element ref="ModifyDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Position" type="xs:string" />
  <xs:element name="ClassData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="IOFVersion" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ClassType" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Class" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClassType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ClassTypeId" />
        <xs:element ref="Name" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClassTypeId">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="type">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="int" />
                <xs:enumeration value="nat" />
                <xs:enumeration value="reg" />
                <xs:enumeration value="loc" />
                <xs:enumeration value="other" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="idManager" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Class">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ClassId" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Name" />
        <xs:element ref="ClassShortName" />
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element ref="ClassTypeId" />
          <xs:element ref="ClassType" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" ref="SubstituteClass" />
        <xs:element minOccurs="0" maxOccurs="1" ref="NotQualifiedSubstituteClass" />
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="EntryFeeId" />
          <xs:element ref="EntryFee" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
      <xs:attribute name="lowAge" type="xs:string" />
      <xs:attribute name="highAge" type="xs:string" />
      <xs:attribute name="sex" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="M" />
            <xs:enumeration value="F" />
            <xs:enumeration value="B" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="1" name="numberInTeam" type="xs:string" />
      <xs:attribute default="N" name="teamEntry">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Y" />
            <xs:enumeration value="N" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="maxNumberInClass" type="xs:string" />
      <xs:attribute default="N" name="actualForRanking">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Y" />
            <xs:enumeration value="N" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="Y" name="timePresentation">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Y" />
            <xs:enumeration value="N" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="allowedMinAge" type="xs:string" />
      <xs:attribute name="allowedMaxAge" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClassId">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="type">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="int" />
                <xs:enumeration value="nat" />
                <xs:enumeration value="reg" />
                <xs:enumeration value="loc" />
                <xs:enumeration value="other" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="idManager" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClassShortName">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="idManager" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubstituteClass">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="ClassId" />
        <xs:element ref="ClassShortName" />
        <xs:element ref="Class" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotQualifiedSubstituteClass">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="ClassId" />
        <xs:element ref="ClassShortName" />
        <xs:element ref="Class" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreSelectedClass">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="ClassId" />
        <xs:element ref="ClassShortName" />
        <xs:element ref="Class" />
      </xs:choice>
      <xs:attribute name="sequence" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClassRaceInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="FirstStart" />
        <xs:element minOccurs="0" maxOccurs="1" ref="StartInterval" />
        <xs:element minOccurs="0" maxOccurs="1" ref="EstimatedBestTime" />
        <xs:element minOccurs="0" maxOccurs="1" ref="EstimatedLastPrizeTime" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PrizeCeremonyTime" />
        <xs:element minOccurs="0" maxOccurs="1" ref="AllocationMethod" />
        <xs:element minOccurs="0" maxOccurs="1" ref="StartMethod" />
        <xs:element ref="ClassRaceStatus" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="CourseVariationId" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
      <xs:attribute name="numberOfVacants" type="xs:string" />
      <xs:attribute default="N" name="rankingRace">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Y" />
            <xs:enumeration value="N" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="numberOfPrizes" type="xs:string" />
      <xs:attribute name="bibNumberPrefix" type="xs:string" />
      <xs:attribute name="bibNumberBase" type="xs:string" />
      <xs:attribute name="finishChute" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllocationMethod">
    <xs:complexType>
      <xs:attribute default="normal" name="value">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="normal" />
            <xs:enumeration value="seeded" />
            <xs:enumeration value="group" />
            <xs:enumeration value="invertedResult" />
            <xs:enumeration value="preseedingResult" />
            <xs:enumeration value="manual" />
            <xs:enumeration value="other" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartMethod">
    <xs:complexType>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="allocatTime" />
            <xs:enumeration value="punching" />
            <xs:enumeration value="limitedPunching" />
            <xs:enumeration value="other" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClassRaceStatus">
    <xs:complexType>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="notAllocated" />
            <xs:enumeration value="allocated" />
            <xs:enumeration value="started" />
            <xs:enumeration value="finished" />
            <xs:enumeration value="deleted" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="FirstStart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="Date" />
        <xs:element ref="Clock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartInterval">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Time" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstimatedBestTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Time" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstimatedLastPrizeTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Time" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrizeCeremonyTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="Date" />
        <xs:element ref="Clock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CourseData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="IOFVersion" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Map" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="StartPoint" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Control" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="FinishPoint" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Course" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Control">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ControlCode" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Description" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ControlPosition" />
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="PunchingUnit" />
          <xs:element ref="PunchPattern" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" ref="PunchingUnitType" />
        <xs:element minOccurs="0" maxOccurs="1" ref="MapPosition" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Comment" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Description">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Box" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Box">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="Symbol" />
        <xs:element ref="Text" />
      </xs:choice>
      <xs:attribute name="column" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="A" />
            <xs:enumeration value="B" />
            <xs:enumeration value="C" />
            <xs:enumeration value="D" />
            <xs:enumeration value="E" />
            <xs:enumeration value="F" />
            <xs:enumeration value="G" />
            <xs:enumeration value="H" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="N" name="hasDiagonal">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Y" />
            <xs:enumeration value="N" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="Symbol">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="SymbolId" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Name" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SymbolId" type="xs:string" />
  <xs:element name="Text">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="languageId" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ControlCode" type="xs:string" />
  <xs:element name="ControlPosition">
    <xs:complexType>
      <xs:attribute name="x" type="xs:string" use="required" />
      <xs:attribute name="y" type="xs:string" use="required" />
      <xs:attribute default="m" name="unit">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="m" />
            <xs:enumeration value="ft" />
            <xs:enumeration value="km" />
            <xs:enumeration value="WGS-84" />
            <xs:enumeration value="other" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="Map">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Scale" />
        <xs:element ref="MapPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Scale" type="xs:string" />
  <xs:element name="MapPosition">
    <xs:complexType>
      <xs:attribute name="x" type="xs:string" use="required" />
      <xs:attribute name="y" type="xs:string" use="required" />
      <xs:attribute default="mm" name="unit">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="mm" />
            <xs:enumeration value="other" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="StartPointCode" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Description" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ControlPosition" />
        <xs:element minOccurs="0" maxOccurs="1" ref="MapPosition" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Comment" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DistanceFromStart" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartPointCode" type="xs:string" />
  <xs:element name="DistanceFromStart">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute default="m" name="unit">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="m" />
                <xs:enumeration value="km" />
                <xs:enumeration value="ft" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Info" type="xs:string" />
  <xs:element name="FinishPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FinishPointCode" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Description" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ControlPosition" />
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="PunchingUnit" />
          <xs:element ref="PunchPattern" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" ref="PunchingUnitType" />
        <xs:element minOccurs="0" maxOccurs="1" ref="MapPosition" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Comment" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishPointCode" type="xs:string" />
  <xs:element name="Course">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CourseName" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CourseId" />
        <xs:element minOccurs="0" maxOccurs="1" ref="EventId" />
        <xs:element minOccurs="0" maxOccurs="1" ref="EventRaceId" />
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="ClassId" />
          <xs:element ref="ClassShortName" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="CourseVariation" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CourseSectionList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CourseName" type="xs:string" />
  <xs:element name="CourseId" type="xs:string" />
  <xs:element name="CourseVariation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CourseVariationId" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Name" />
        <xs:element ref="CourseLength" />
        <xs:element minOccurs="0" maxOccurs="1" ref="CourseClimb" />
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element ref="StartPointCode" />
          <xs:element ref="StartPoint" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" ref="FinishChute" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="CourseControl" />
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element ref="FinishPointCode" />
          <xs:element ref="FinishPoint" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" ref="DistanceToFinish" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
      <xs:attribute name="numberOfRunners" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="CourseVariationId" type="xs:string" />
  <xs:element name="CourseLength">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute default="m" name="unit">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="m" />
                <xs:enumeration value="km" />
                <xs:enumeration value="ft" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="CourseClimb">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute default="m" name="unit">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="m" />
                <xs:enumeration value="km" />
                <xs:enumeration value="ft" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartId" type="xs:string" />
  <xs:element name="FinishChute" type="xs:string" />
  <xs:element name="FinishId" type="xs:string" />
  <xs:element name="DistanceToFinish">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="FromControl" type="xs:string" />
          <xs:attribute default="m" name="unit">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="m" />
                <xs:enumeration value="km" />
                <xs:enumeration value="ft" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="CourseSectionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="StartPointCode" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="CourseSection" />
        <xs:element minOccurs="0" maxOccurs="1" ref="FinishPointCode" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="DistanceToFinish" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CourseSection">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CourseSectionId" />
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="CourseBranch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CourseSectionId" type="xs:string" />
  <xs:element name="CourseBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CourseBranchId" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="CourseControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CourseBranchId" type="xs:string" />
  <xs:element name="CourseControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Sequence" />
        <xs:choice>
          <xs:element ref="ControlCode" />
          <xs:element ref="Control" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Comment" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="LegLength" />
        <xs:element minOccurs="0" maxOccurs="1" ref="MapTextPosition" />
      </xs:sequence>
      <xs:attribute default="N" name="markedRoute">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Y" />
            <xs:enumeration value="N" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="LegLength">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="FromControl" type="xs:string" />
          <xs:attribute default="m" name="unit">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="m" />
                <xs:enumeration value="km" />
                <xs:enumeration value="ft" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sequence" type="xs:string" />
  <xs:element name="MapTextPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MapPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PunchingUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="UnitCode" />
        <xs:element ref="PunchingUnitType" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnitCode" type="xs:string" />
  <xs:element name="PunchingUnitType">
    <xs:complexType>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="manual" />
            <xs:enumeration value="SI" />
            <xs:enumeration value="Emit" />
            <xs:enumeration value="other" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="PunchPattern" type="xs:string" />
  <xs:element name="Name">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="languageId" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShortName">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="languageId" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Comment">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="languageId" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Organisation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="OrganisationId" />
        <xs:element ref="Name" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ShortName" />
        <xs:choice>
          <xs:element ref="OrganisationTypeId" />
          <xs:element ref="OrganisationType" />
        </xs:choice>
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element ref="CountryId" />
          <xs:element ref="Country" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Address" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Tele" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Account" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Contact" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SubOrganisation" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrganisationId">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="type">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="int" />
                <xs:enumeration value="nat" />
                <xs:enumeration value="reg" />
                <xs:enumeration value="loc" />
                <xs:enumeration value="other" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="idManager" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubOrganisationType">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="OrganisationTypeId" />
        <xs:element ref="OrganisationType" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubOrganisation">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="OrganisationId" />
        <xs:element ref="Organisation" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrganisationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="IOFVersion" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="OrganisationType" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Organisation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrganisationType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="OrganisationTypeId" />
        <xs:element ref="Name" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SubOrganisationType" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrganisationTypeId">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="type">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="int" />
                <xs:enumeration value="nat" />
                <xs:enumeration value="reg" />
                <xs:enumeration value="loc" />
                <xs:enumeration value="other" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="idManager" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Press">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Contact" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Address" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Tele" />
        <xs:choice>
          <xs:element ref="Country" />
          <xs:element ref="CountryId" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ResultSelection" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
      <xs:attribute name="mediaType" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="paper" />
            <xs:enumeration value="tv" />
            <xs:enumeration value="radio" />
            <xs:enumeration value="magazine" />
            <xs:enumeration value="web" />
            <xs:enumeration value="other" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="PressList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="IOFVersion" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Press" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Service">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ServiceId" />
        <xs:element ref="Name" />
        <xs:element ref="Amount" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Comment" />
        <xs:element minOccurs="0" maxOccurs="1" ref="MaxNumber" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceId" type="xs:string" />
  <xs:element name="ServiceRequestList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="IOFVersion" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ClubServiceRequest" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="OrganisationServiceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClubServiceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="ClubId" />
          <xs:element ref="Club" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ServiceRequest" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PersonServiceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrganisationServiceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="OrganisationId" />
          <xs:element ref="Organisation" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ServiceRequest" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PersonServiceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonServiceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="PersonId" />
          <xs:element ref="Person" />
        </xs:choice>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="ServiceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="ServiceId" />
          <xs:element ref="Service" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" ref="ServiceOrderNumber" />
        <xs:element ref="RequestedQuantity" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DeliveredQuantity" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Comment" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaxNumber">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute default="Pcs" name="unit" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestedQuantity">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute default="Pcs" name="unit" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeliveredQuantity">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute default="Pcs" name="unit" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceOrderNumber" type="xs:string" />
  <xs:element name="Account">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute default="postalGiro" name="type">
            <xs:simpleType>
              <xs:restriction base="xs:NMTOKEN">
                <xs:enumeration value="postalGiro" />
                <xs:enumeration value="bankGiro" />
                <xs:enumeration value="bankAccount" />
                <xs:enumeration value="other" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Transaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Account" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ForeignAccount" />
        <xs:element ref="Date" />
        <xs:element ref="Amount" />
        <xs:choice>
          <xs:element ref="ClubId" />
          <xs:element ref="Club" />
          <xs:element ref="OrganisationId" />
          <xs:element ref="Organisation" />
        </xs:choice>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="PersonId" />
          <xs:element ref="Person" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="EntryId" />
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="ServiceOrderNumber" />
          <xs:element ref="ServiceId" />
          <xs:element ref="Service" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForeignAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="IOFVersion" />
        <xs:choice>
          <xs:element ref="EventId" />
          <xs:element ref="Event" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Address">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="AddressType" />
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element ref="CountryId" />
          <xs:element ref="Country" />
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
      <xs:attribute name="careOf" type="xs:string" />
      <xs:attribute name="street" type="xs:string" use="required" />
      <xs:attribute name="city" type="xs:string" use="required" />
      <xs:attribute name="zipCode" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddressType">
    <xs:complexType>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="official" />
            <xs:enumeration value="home" />
            <xs:enumeration value="work" />
            <xs:enumeration value="other" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="IOFVersion" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Country" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Country">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CountryId" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Name" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountryId">
    <xs:complexType>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="ARG" />
            <xs:enumeration value="AUS" />
            <xs:enumeration value="AUT" />
            <xs:enumeration value="BEL" />
            <xs:enumeration value="BLR" />
            <xs:enumeration value="BRA" />
            <xs:enumeration value="BUL" />
            <xs:enumeration value="CAN" />
            <xs:enumeration value="CHI" />
            <xs:enumeration value="CHN" />
            <xs:enumeration value="COL" />
            <xs:enumeration value="CRO" />
            <xs:enumeration value="CUB" />
            <xs:enumeration value="CZE" />
            <xs:enumeration value="DEN" />
            <xs:enumeration value="ECU" />
            <xs:enumeration value="ESP" />
            <xs:enumeration value="EST" />
            <xs:enumeration value="FIN" />
            <xs:enumeration value="FRA" />
            <xs:enumeration value="GBR" />
            <xs:enumeration value="GER" />
            <xs:enumeration value="GRE" />
            <xs:enumeration value="HKG" />
            <xs:enumeration value="HUN" />
            <xs:enumeration value="INA" />
            <xs:enumeration value="IND" />
            <xs:enumeration value="IRL" />
            <xs:enumeration value="ISR" />
            <xs:enumeration value="ITA" />
            <xs:enumeration value="JAM" />
            <xs:enumeration value="JPN" />
            <xs:enumeration value="KAZ" />
            <xs:enumeration value="KOR" />
            <xs:enumeration value="LAT" />
            <xs:enumeration value="LTU" />
            <xs:enumeration value="MAS" />
            <xs:enumeration value="MDA" />
            <xs:enumeration value="MKD" />
            <xs:enumeration value="NED" />
            <xs:enumeration value="NOR" />
            <xs:enumeration value="NZL" />
            <xs:enumeration value="PAK" />
            <xs:enumeration value="POL" />
            <xs:enumeration value="POR" />
            <xs:enumeration value="PRK" />
            <xs:enumeration value="ROM" />
            <xs:enumeration value="RSA" />
            <xs:enumeration value="RUS" />
            <xs:enumeration value="SLO" />
            <xs:enumeration value="SUI" />
            <xs:enumeration value="SVK" />
            <xs:enumeration value="SWE" />
            <xs:enumeration value="TPE" />
            <xs:enumeration value="UKR" />
            <xs:enumeration value="URU" />
            <xs:enumeration value="USA" />
            <xs:enumeration value="VEN" />
            <xs:enumeration value="YOG" />
            <xs:enumeration value="other" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tele">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="TeleType" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ModifyDate" />
      </xs:sequence>
      <xs:attribute name="phoneNumber" type="xs:string" />
      <xs:attribute name="faxNumber" type="xs:string" />
      <xs:attribute name="mobilePhoneNumber" type="xs:string" />
      <xs:attribute name="mailAddress" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="TeleType">
    <xs:complexType>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="official" />
            <xs:enumeration value="home" />
            <xs:enumeration value="work" />
            <xs:enumeration value="other" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebURL" type="xs:string" />
  <xs:element name="Date">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute default="YYYY-MM-DD" name="dateFormat" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clock">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute default="HH:MM:SS" name="clockFormat" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="Date" />
        <xs:element ref="Clock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="Date" />
        <xs:element ref="Clock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Time">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute default="MM:SS" name="timeFormat" type="xs:string" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Date" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Clock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>